In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('WorldWide_Boxoffice.csv')

In [32]:
df

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,1,2009,Avatar,"$2,845,899,541","$760,507,625","$2,085,391,916"
1,2,2019,Avengers: Endgame,"$2,797,800,564","$858,373,000","$1,939,427,564"
2,3,1997,Titanic,"$2,207,986,545","$659,363,944","$1,548,622,601"
3,4,2015,Star Wars Ep. VII: The Force Awakens,"$2,064,615,817","$936,662,225","$1,127,953,592"
4,5,2018,Avengers: Infinity War,"$2,044,540,523","$678,815,482","$1,365,725,041"
...,...,...,...,...,...,...
590,596,2010,Knight and Day,"$258,751,370","$76,423,035","$182,328,335"
591,597,1985,Out of Africa,"$258,210,860","$79,096,868","$179,113,992"
592,598,2011,Super 8,"$257,972,745","$127,004,179","$130,968,566"
593,599,2013,American Hustle,"$257,858,943","$150,098,456","$107,760,487"
594,600,2000,Erin Brockovich,"$257,805,243","$125,548,685","$132,256,558"

### Checking data Type

In [33]:
print(df.dtypes)

Rank                        int64
Year                        int64
Movie                      object
WorldwideBox Office        object
DomesticBox Office         object
InternationalBox Office    object
dtype: object

### Box office parsing into integers

In [34]:
df['WorldwideBox Office'] = df['WorldwideBox Office'].astype(str)
df['DomesticBox Office'] = df['DomesticBox Office'].astype(str)
df['InternationalBox Office'] = df['InternationalBox Office'].astype(str)


print(df.dtypes)

Rank                        int64
Year                        int64
Movie                      object
WorldwideBox Office        object
DomesticBox Office         object
InternationalBox Office    object
dtype: object

In [35]:
df['WorldwideBox Office'] = df['WorldwideBox Office'].apply(lambda x: x.replace(',','').replace('$',''))
df['DomesticBox Office'] = df['DomesticBox Office'].apply(lambda x: x.replace(',','').replace('$',''))
df['InternationalBox Office'] = df['InternationalBox Office'].apply(lambda x: x.replace(',','').replace('$',''))

In [36]:
df

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,1,2009,Avatar,2845899541,760507625,2085391916
1,2,2019,Avengers: Endgame,2797800564,858373000,1939427564
2,3,1997,Titanic,2207986545,659363944,1548622601
3,4,2015,Star Wars Ep. VII: The Force Awakens,2064615817,936662225,1127953592
4,5,2018,Avengers: Infinity War,2044540523,678815482,1365725041
...,...,...,...,...,...,...
590,596,2010,Knight and Day,258751370,76423035,182328335
591,597,1985,Out of Africa,258210860,79096868,179113992
592,598,2011,Super 8,257972745,127004179,130968566
593,599,2013,American Hustle,257858943,150098456,107760487
594,600,2000,Erin Brockovich,257805243,125548685,132256558

### adding one new data

In [37]:
df.iloc[6]=['6','2021','Spider-Man: No Way Home','1850476678','780418859','1070057819']

In [38]:
df.loc[df['Movie'] == 'Spider-Man: No Way Home']

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
6,6,2021,Spider-Man: No Way Home,1850476678,780418859,1070057819

In [39]:
df

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,1,2009,Avatar,2845899541,760507625,2085391916
1,2,2019,Avengers: Endgame,2797800564,858373000,1939427564
2,3,1997,Titanic,2207986545,659363944,1548622601
3,4,2015,Star Wars Ep. VII: The Force Awakens,2064615817,936662225,1127953592
4,5,2018,Avengers: Infinity War,2044540523,678815482,1365725041
...,...,...,...,...,...,...
590,596,2010,Knight and Day,258751370,76423035,182328335
591,597,1985,Out of Africa,258210860,79096868,179113992
592,598,2011,Super 8,257972745,127004179,130968566
593,599,2013,American Hustle,257858943,150098456,107760487
594,600,2000,Erin Brockovich,257805243,125548685,132256558

In [40]:
df

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,1,2009,Avatar,2845899541,760507625,2085391916
1,2,2019,Avengers: Endgame,2797800564,858373000,1939427564
2,3,1997,Titanic,2207986545,659363944,1548622601
3,4,2015,Star Wars Ep. VII: The Force Awakens,2064615817,936662225,1127953592
4,5,2018,Avengers: Infinity War,2044540523,678815482,1365725041
...,...,...,...,...,...,...
590,596,2010,Knight and Day,258751370,76423035,182328335
591,597,1985,Out of Africa,258210860,79096868,179113992
592,598,2011,Super 8,257972745,127004179,130968566
593,599,2013,American Hustle,257858943,150098456,107760487
594,600,2000,Erin Brockovich,257805243,125548685,132256558

 ##  Replacing Null values With Average      Values

In [25]:
df = df.fillna(value=df["DomesticBox Office"].mean())

TypeError: Could not convert 760507625858373000659363944936662225678815482652306625780418859353007020623357910477373578459005868700059566381193157620181382417719760400953009504014165608581744225764765408992272336045770408084349335061807390532085426829839352390543377845905304360277245439076448139099434038008515202542335451311415004880423315812532177324355559216241071802402523348264624300474544677334191110486295561303003568341268248533720947421785283368065385317871467404508916309420425258241522296131568364001123255119788292137260380529370441226247302089278342548984336530303216303339290201752315544750196573705368384330334201140161321843200074175262233381330360194389813101424668047356461711213511408315058289380270577nan402111870272110029232473740370637541256340830616925523403757532271994431683124621046001517255887637352448543511055424975772623867985022015910431710111932459173536307070946099800733371411221753613817395693524140732826203066316611216723873678723392153421639148232510005426848832936955332815536892930041642925761955875487291710957259746958208545589202853933319246193300531751328828874nan2093979032740927052812871331950423772966236343301511384080106922326419202935062922910455181652490631714566153106767402290242952284336633054108191790208541880178941953306211595559012225278282817239022063621402487570442703290452154345912614410922100313252064456542279462742166487403707829303124333311249870222290866791770029242262770682342803541301686831441300631801748801673650001693684272506905392544643052008219362563930103186041262508632681376901721871684251661672301426141581680528122901494251914508751935955212186657401867407991492605042372821822015781822180800252154098892917389603501263721983984251513985155442489186848418201151353154354718363789422380816420270671120109171120067606914544374216750009218313501432294571607995051435286191900682801802021632176313062791675752034641052708349502458521792173502192090286791894126772416883852175812321632148881315384352676550111333758462347709961468801621139296051436198091863362792163350851912047541318228124270499513329857747700000285761243206459076309205079197171806nan1767601852600000002115932281697001102577847181005631332287786612773225032323409173396389127195589244082982234362462180981886187683805126573960219961501111110575155190832210614939675218341715016280543418103062419853985517109181915887439515110180322747107021961461219041880321919505147365290206333165148809770202007640174340174nan15035829617840626889760956144105346160942139215288866138797449230347346101028233139270910233632142204417855184208842104386950706572141621490132556852155385488162192920152647258172825435251188924101802906801011251002348382279692952149496941024917761282617241264770841927698541772437216406300885838210155136755172062763133501348120634935213767512200120000198680470165493908116949183181813770257730019176387405177397510212259762198000317103144286141330703100498861529011151105001381345294031983515261144340101483130481398542871425027281363142941225230601901731952414382081798831571828051237759183110040776016141200017665450517648465115363635422568607970107728167767189100206256nan8335091117778425715922764410001249918116611512532246914628241119252323311608967814037165611745011916279856512553163421732697418001174011220007257929000126930660706153155064265327662053437741735855161320247141305312085000181180012912106429941130058047137748063164606800146408305113746621183875760144840419114766307101200044117727224107509366175777006176591618102826543119920129154112492214030500140464664133107389126643061171958438144801023710177841024278622261642861415797731152340932603488254489841315501934015370706411772398913450855116910047912770687712530427618403111290759676134069511173772767158848340188024361nan451571051230871201546960801798802711184500021917193371730050021069546781065800511662250401275093261826184346507554017480350610012564311405357989256424nan1247404601710167271001388511054871489689881814841585315664569385080171131772187144731527103860290137400141170708996120774594234760478137855863172956409163958031148478011268446926523340016536406013242280918857885520604008585028192117144465162994032176087450148438600175750384816971921024700081522575091353866651364926818377911625860361248723501034127581706875182559594751020922018367008312391761146066470684201206734919813618929412062025418141061515020149810001469911965482315041543213421801812015054615452943912801293412681315314001522414021871114008881315729971721311778987242834601285662422124671301790729534769214415660511943677059874525136801374118311368844103801323843151692117181319217381281523011554643518910723512663127718429623083028130145096820163214286930501171304446032092183681212481457305867913948612410032819411320387010031779413814158567631157715005561570197717704238115366503615329416415094789513072671614809530290559416119793567128814019153952592582508031822079731311441831385408701620011861044008991500868001583408921115064309478420115957879913496641165014513103068524102797000130164645150394119141930000162833635124685242106614059580324431348069138824622012561820163570862402030208546330985000000189857941075186821004583101285059581193948394595012212820001289302115125305545920541597642303579096868127004179150098456125548685 to numeric

In [42]:
df.isnull().sum()

Rank                       0
Year                       0
Movie                      0
WorldwideBox Office        0
DomesticBox Office         0
InternationalBox Office    0
dtype: int64

In [43]:
df

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,1,2009,Avatar,2845899541,760507625,2085391916
1,2,2019,Avengers: Endgame,2797800564,858373000,1939427564
2,3,1997,Titanic,2207986545,659363944,1548622601
3,4,2015,Star Wars Ep. VII: The Force Awakens,2064615817,936662225,1127953592
4,5,2018,Avengers: Infinity War,2044540523,678815482,1365725041
...,...,...,...,...,...,...
590,596,2010,Knight and Day,258751370,76423035,182328335
591,597,1985,Out of Africa,258210860,79096868,179113992
592,598,2011,Super 8,257972745,127004179,130968566
593,599,2013,American Hustle,257858943,150098456,107760487
594,600,2000,Erin Brockovich,257805243,125548685,132256558

In [57]:
df.drop(['Unnamed: 0'],axis=1)

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,1,2009,Avatar,2845899541,760507625.0,2085391916
1,2,2019,Avengers: Endgame,2797800564,858373000.0,1939427564
2,3,1997,Titanic,2207986545,659363944.0,1548622601
3,4,2015,Star Wars Ep. VII: The Force Awakens,2064615817,936662225.0,1127953592
4,5,2018,Avengers: Infinity War,2044540523,678815482.0,1365725041
...,...,...,...,...,...,...
590,596,2010,Knight and Day,258751370,76423035.0,182328335
591,597,1985,Out of Africa,258210860,79096868.0,179113992
592,598,2011,Super 8,257972745,127004179.0,130968566
593,599,2013,American Hustle,257858943,150098456.0,107760487
594,600,2000,Erin Brockovich,257805243,125548685.0,132256558

In [58]:
df.to_csv('Modified_data.csv')